; backend/.coveragerc

[run]
branch = True
source =
    job_trackr
    scripts

omit =
    */tests/*
    */.venv/*
    */__init__.py
    */migrations/*
    */settings/*
    */manage.py
    */asgi.py
    */wsgi.py
    scripts/python/generate_*.py
    scripts/python/*_logging.py

[report]
show_missing = True
skip_covered = True

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
