# backend/.dockerignore

# --- Version Control ---
.git
.gitignore

# --- Python ---
__pycache__/
*.py[cod]

# --- Dependencies ---
.venv/

# --- Dev Tools ---
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
.vscode/

# --- Tests ---
tests/

# --- Logs & Dumps ---
*.log
logs/
*.sqlite3

# --- Environment ---
.env.*
*.env
!*.env.example

# --- Scripts ---
scripts/
