# backend/.gitignore

.env.*
*.env
!*.env.example

ignore

__pycache__/
*.pyc
*.log
logs
*.py[cod]
*.pyo
*.pyd

# pytest
.pytest_cache
.coverage

# ruff
.ruff_cache

# --- UV ---
.venv/
uv.lock
.uv/

# sqlite3
*.db
db.sqlite3

# Django static & media
/staticfiles/
/media/

# Django cache
*.cache

# fixtures
tests/email_fixtures/

# samples
samples/email_samples/

.backup
