# backend/.gitignore

# --- Environment ---
.env.*
*.env
!*.env.example

# --- Dependencies ---
.venv/
.uv/

# --- Python ---
__pycache__/
*.py[cod]

# --- Dev Tools ---
.*_cache
.coverage
htmlcov/

# --- Django ---
# database
*.db
db.sqlite3

# static & media
/staticfiles/
/media/

# cache
*.cache

# --- Logs ---
*.log
logs/

# --- Misc ---
*.backup
